:host{
  font-family: sans-serif;
  border: 2px solid #3b013b;
  margin: 2rem;
  padding: 1rem;
  display: block;
  width: 20rem;
  max-width: 100%;
}
:host(.error){
  border: 2px solid #F00;
}

form input{
  font: inherit;
  color: #3b013b;
  padding: .15rem .25rem;
  display: block;
  margin-bottom: .5rem;

}

form input:focus,
form button:focus{
  outline: none;
}

form button{
  font: inherit;
  padding: .25rem .5rem;
  border: 1px solid #3b013b;
  background: #3b013b;
  color: #FFF;
  cursor: pointer;
}

form button:disabled{
  border: 1px solid #cecece;
  background: #cecece;
  cursor: not-allowed;
}
form button:hover,
form button:active{
  border-color: 1px solid #750175;
  background: #750175;
}